In [ ]:
#Range data type
#it represents a sequesnce of number

In [1]:
r=range(10)

In [2]:
print(r)

range(0, 10)

In [3]:
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
l=[3,4,5,6,7,6]
for i in l:
    print(i)

3
4
5
6
7
6

In [5]:
r=range(5)
for i in r:
    print(i)

0
1
2
3
4

In [7]:
r=range(2,5)
for i in r:
    print(i)

2
3
4

In [8]:
r=range(20,40,2)
for i in r:
    print(i)

20
22
24
26
28
30
32
34
36
38

In [9]:
r=range(2,5)
print(type(r))

<class 'range'>

In [14]:
r=range(2,5)
print(type(r))
l1=list(r)
print(l1)
print(type(l1))

<class 'range'>
[2, 3, 4]
<class 'list'>

In [21]:
r=range(-6,2)
for i in r:
    print(i)

-6
-5
-4
-3
-2
-1
0
1

In [ ]:
#
[]->list
()->tuple
{}->set

In [ ]:
#set data type-> {}

In [24]:
s={23,54,6,34,78,"rahul","pradeep","ashish"}
print(s)

{34, 6, 78, 'rahul', 'ashish', 54, 23, 'pradeep'}

In [25]:
s={23,23,54,6,6,34,78,"rahul","pradeep","ashish"}
print(s)

{34, 6, 78, 'rahul', 'ashish', 54, 23, 'pradeep'}

In [26]:
s.add(79)

In [29]:
print(s)

{34, 6, 78, 79, 'rahul', 'ashish', 54, 23, 'pradeep'}

In [30]:
s.add(55)
print(s)

{34, 6, 78, 79, 'rahul', 'ashish', 55, 54, 23, 'pradeep'}

In [31]:
s.remove(54)
print(s)

{34, 6, 78, 79, 'rahul', 'ashish', 55, 23, 'pradeep'}

In [ ]:
# dict(dictionary) data type-->{}->if we want to reresent group of values in key-value pair tyhen we will use dict data type

In [33]:
d={1:'pavan',2:'anup',3:'sonu',4:'sweta',5:'ashish',6:'adnaan',7:'rahul'}
print(d)
print(type(d))

{1: 'pavan', 2: 'anup', 3: 'sonu', 4: 'sweta', 5: 'ashish', 6: 'adnaan', 7: 'rahul'}
<class 'dict'>

In [36]:
d[7]

'rahul'

In [37]:
d[8]="nandini"

In [38]:
print(d)

{1: 'pavan', 2: 'anup', 3: 'sonu', 4: 'sweta', 5: 'ashish', 6: 'adnaan', 7: 'rahul', 8: 'nandini'}

In [39]:
d[3]="arun"

In [40]:
print(d)

{1: 'pavan', 2: 'anup', 3: 'arun', 4: 'sweta', 5: 'ashish', 6: 'adnaan', 7: 'rahul', 8: 'nandini'}

In [41]:
d[5]="arun"
print(d)

{1: 'pavan', 2: 'anup', 3: 'arun', 4: 'sweta', 5: 'arun', 6: 'adnaan', 7: 'rahul', 8: 'nandini'}

In [ ]:
# Duplicate keys are not allowed but duplcate values are allowed.

In [43]:
#None Data Type
def xy():
    b=5
    print(b)

In [44]:
xy()

5

In [53]:
def xy():
    b=5
    return b

In [54]:
a=xy()
print(a)
print(type(a))

5
<class 'int'>

In [49]:
def xy():
    b=5

In [52]:
a=xy()
print(a)
print(type(a))

None
<class 'NoneType'>

In [55]:
## Escape Characters--> \

a="arunkumar"
print(a)

arunkumar

In [56]:
a="arun\nkumar"
print(a)

arun
kumar

In [59]:
a="arun\tkumar"
print(a)

arun	kumar

In [60]:
a="arun\'kumar"
print(a)

arun'kumar

In [ ]:
#Operators
#Data Types
#Identifiers

In [61]:
#Input and Output Staements
name=input("Enter your name: ")
print(name)

Enter your name: arun
arun

In [63]:
name=input("Enter your name: ")
print(name)
print(type(name))

Enter your name: arun
arun
<class 'str'>

In [66]:
rollnumber=int(input("Enter your roll number: "))
print(rollnumber)
print(type(rollnumber))

Enter your roll number: 8
8
<class 'int'>

In [68]:
#write a programme to add 2 number
a=int(input("enter first number:"))
b=int(input("enter second number:"))
c=a+b
print("sum is :",c)

enter first number:5
enter second number:3
sum is : 8