## Input and Output Statements

In [ ]:
input()

In [2]:
name=input("Enter your name :")
print("My name is ",name)

Enter your name :arun
My name is  arun

In [3]:
a=5
b=7
print(a)
print(b)

5
7

In [5]:
a,b,c=5,7,8
print(a)
print(b)
print(c)

5
7
8

In [6]:
a,b=(input("Enter two values :")).split()

Enter two values :4 5

In [7]:
print(a)
print(b)

4
5

In [9]:
a,b=(input("Enter two values :")).split()
print(a)
print(b)

Enter two values :45 78
45
78

In [10]:
a,b,c=(input("Enter three values :")).split()
print(a)
print(b)
print(c)

Enter three values :12 30 78
12
30
78

In [14]:
#eval() function:it takes string as input and returns the result
x=eval("10+20.5+30")
print(x)

60.5

In [21]:
#Output Statements
print("helloworld")

helloworld

In [16]:
print("hello\nworld")

hello
world

In [17]:
print("hello\tworld")

hello	world

In [18]:
print("hello"*4)

hellohellohellohello

In [20]:
print("Hello"+" "+"World")

Hello World

In [22]:
print("Hello","World")

Hello World

In [23]:
yourage=25
print("your age is :",yourage)

your age is : 25

In [36]:
a=5
b=6
print("the numbers are :",a,b,sep=',')

the numbers are :,5,6

In [37]:
print("My")
print("name")
print("is")
print("arun")

My
name
is
arun

In [39]:
print("My",end=' ')
print("name",end=' ')
print("is",end=' ')
print("arun",end='')

My name is arun

In [41]:
name="Arun"
marks=100
print("Hi",name,"Your score is",marks,"in maths")

Hi Arun Your score is 100 in maths

In [50]:
name1,name2="Arun","rahul"
marks=100
print("Hi {1}.My maths score is {0}".format(name,marks))

Hi 100.My maths score is ('Arun', 'rahul')

In [51]:
name2="Arun","rahul"
print(type(name2))

<class 'tuple'>

In [52]:
name1,name2="Arun","rahul"
print(name1)
print(name2)
print(type(name1))
print(type(name2))

Arun
rahul
<class 'str'>
<class 'str'>